*

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
    color: #2e4053;
  }

#about{
        background: fixed url(../assets/img/back.JPG) center center;
        background-size: cover;
}


#experience{
background-color: #B0C4DE;
background-size: cover;
}

#interests{
background-color: #B0C4DE;
background-size: cover;
}

#education{
background-color: #B0C4DE;
background-size: cover;
}
#skills{
background-color: #B0C4DE;
background-size: cover;
}

.bg-primary {
    background-color: transparent !important;
    background-image: url(../assets/img/blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


body {
    color: #2e4053;
    --bs-link-color:#B0C4DE;
    --bs-link-hover-color:#2e4053;
  }

  h1 span{
    font-size:50px;
    color:#2e4053;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.6);
  color: #2e4053;
  padding: 15px;
  border-radius: 10px;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 100;
  max-width: 50%;     /* 控制最大寬度，可以視情況調整成 50%、40% 等 */
  margin: 0 auto;     /* 置中 */
}
